export mysql_root_pass=<ROOT PASSWORD FOR MYSQL>
export mysql_grafana_user=<USERNAME FOR THE READONLY USER WHICH GRAFANA WILL USE>
export mysql_grafana_user_pass=<PASSWORD FOR THE ABOVE USER>
export grafana_datasource_path=<ABSOLUTE PATH TO THE LOCATION OF YOUR DATASOURCE DEFINITION

